@charset "utf-8";
/* CSS Document */

/*homepage css:*/
.hero {
    background-image: url("../cover.png");
    background-color: rgba(0, 0, 0, 0.5); /* The black tint layer */
    background-blend-mode: multiply; /* Blends the color and image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* allows the background image to stay fixed while scrolling */
    background-color: rgba(0, 0, 0, 0.5); /* The black tint layer */
    background-blend-mode: multiply; /* Blends the color and image */
    height: 50vh;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}



/* Part of the following is from the about section (global css):*/
:root {
    --primary-color: #5e4d9e;
    --dark-color: #2c1b2d;
    --light-color: #955b68;
    --white-color: #ffffff;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0 0px;
}

/* body styles */
body {
    font-family: var(--body-font);
    background-color: var(--white-color);
    margin: 0;
    color: var(--dark-color);
    line-height: 1.6;
}

/* heading styles */
h1, h2, h3 {
    font-family: var(--header-font);
    font-weight: 700;
    margin: 10px 0 0 0; /* maybe this could be changed elsewhere? */
}

h1 {
    font-size: 6rem;
}

h2, h3 {
    font-size: 1rem;
    font-weight: 100;
}

p{
    font-size: 1rem;
}

.upcoming{
    background-color: var(--light-color);
    text-align: center;
    padding: 10px 80px;
    height: 40px;
}

.slider{
    background-color: var(--white-color);
    display:flex;
    gap: 25px;
    justify-content: center;
    padding: 10px 50px;
}

.slider img{
    height: 285px;
}
/* animating fade-in title */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}