/* donate css: */
:root {
    --primary-color: #5e4d9e;
    --dark-color: #2c1b2d;
    --light-color: #C69AA4;
    --notsolight-color: #B58A94;
    --white-color: #ffffff;
    --header-font: 'Playfair Display', serif;
    --body-font: 'Playfair Display', serif;
    margin: 0 auto;
    padding: 0 0px;
}

body {
    font-family: var(--body-font);
    background-color: var(--light-color);
    margin: 0;
    color: var(--dark-color);
    line-height: 1.6;
    overscroll-behavior: none;
}

main-body {
    padding-top: 9vh;
}

.donate-hero {
    background-image: url("../cover.png");
    background-color: rgba(0, 0, 0, 0.5); /* The black tint layer */
    background-blend-mode: multiply; /* Blends the color and image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* allows the background image to stay fixed while scrolling */
    height: 50vh;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
@media (max-width: 700px) {
  .donate-hero h1 {
    font-size: 2.4rem;      /* Smaller text on mobile */
  }
  .donate-hero {
    background-position: center top; /* Show more of the image's top */
    background-size: 200% auto;        /* Prevents zooming/cropping */
    background-repeat: no-repeat;
    height: 50vh;
    padding: 0 6px;
  }
}

h1 {
    font-family: var(--header-font);
    font-size: 5.5rem;
    font-weight: 700;
}

p {
    margin: 20px 50px 20px 50px;
    text-align: center; 
}

#red-text {
    color: ''; /* changes the color of the "all donations are..." text */
    font-size: 1.2rem;
}

.large-text {
    font-size: 1.2rem;
}

.small-text {
    font-size: 1rem;
}